{{!-- Simulacrum Message Template - System-Agnostic Structure --}}
<li class="chat-message message flexcol simulacrum-chat-message simulacrum-role-{{role}}"
  data-message-id="{{id}}" {{#if borderColor}}style="border-color:{{borderColor}}" {{/if}}>
  <header class="message-header flexrow">
    <h4 class="message-sender">
      <span class="title">
        {{#if (eq role 'user')}}
        {{user.name}}
        {{else}}
        {{localize "SIMULACRUM.AIName"}}
        {{/if}}
      </span>
    </h4>
    <span class="message-metadata">
      <time class="message-timestamp">{{#if timestampLabel}}{{timestampLabel}}{{else}}{{formatTime
        timestamp}}{{/if}}</time>
      {{#if canDelete}}
      <a aria-label="{{localize 'Delete'}}" class="message-delete" data-action="deleteMessage">
        <i class="fa-solid fa-trash" inert></i>
      </a>
      {{/if}}
    </span>
  </header>
  <div class="message-content">
    {{#if display}}
    {{{display}}}
    {{else}}
    {{{content}}}
    {{/if}}
  </div>
</li>